.footer {
    padding: 15px;
    background: lightgray;
    text-align: center;
}
span {
    font-size:20px;
    margin: 0px 10px 10px 0px;
}
.item {
    margin-top:20px;
}
.right {
    text-align: left;
    padding-right: 80px;
}
.acnLogo {
    background: url(../../assets/images/Accenture-logo.png) no-repeat left;
    height: 110px;
    background-size: contain;
    margin-left:-80px;
}