<div class="footer">
  <div class="row">
    <div class="col-sm-1 col-md-1 col-lg-1">
    </div>
    <div class="col-sm-7 col-md-7 col-lg-7 acnLogo">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 right">
      <div class="item">
        <span class="glyphicon glyphicon-earphone"></span>
        <span>+91 80 12345</span>
      </div>
      <div class="item">
        <span class="glyphicon glyphicon-envelope"></span>
        <span><a href="mailto:ecogreen.amica@gmail.com">ecogreen.amica@gmail.com</a></span>
      </div>
    </div>
  </div>
</div>