.menu-row {
    height:58px;
    border:none;
    background:lightgray;
    box-shadow: 0px 1px 15px black;
    position: fixed;
}
.menu {
    padding-top:18px !important;
}
li a {
    color:black !important;
}
li a.active {
    font-weight: bold;
    color:black !important;
}