<header>
  <div class="menu-row">
    <div class="main">
      <nav class="wrapper">
        <div class="logo" style="display:inline-block">
          <img src="assets/images/eco-amica-logo.png" style="height:70px">
        </div>
        <ul class="menu">
          <li><a id="nav1" class="active" [routerLink]="['/']" (click)="nav('1')">Home</a></li>
          <li><a id="nav2" href="/consumption" [routerLink]="['/consumption']" (click)="nav('2')">Consuption Data</a></li>
          <li><a id="nav3" href="/greenmeasures" [routerLink]="['/greenmeasures']" (click)="nav('3')">Green Measures</a></li>
          <li><a id="nav6" href="/recycling" [routerLink]="['/recycling']" (click)="nav('6')">Plastic Recycling</a></li>
          <li><a id="nav4" href="/reports" [routerLink]="['/reports']" (click)="nav('4')">Consumption Reports</a></li>
          <li><a id="nav5" href="/approvals" [routerLink]="['/approvals']" (click)="nav('5')">Approvals</a></li>
          <li><a href="">Help</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
