<div class="row-bot">
  <div class="row-bot-bg reduceImageHeight">
    <div class="main">
      <div class="wrapper p6">
        <h1 class="appHeader">
          Consumption Reports
        </h1>
      </div>
    </div>
  </div>
</div>
<section id="content">
  <div class="main">
    <div class="container_12">
      <div class="wrapper">
        <article class="grid_2">
          <h3>Utilities</h3>
          <ul class="list-1">
            <li><a id="electricity" class="active" (click)="utilityChosen('Electricity',1)">Electricity</a></li>
            <li><a id="gas" (click)="utilityChosen('Gas',2)">Gas</a></li>
            <li><a id="water" (click)="utilityChosen('Water',4)">Water</a></li>
            <li><a id="plastic" (click)="utilityChosen('Plastic',3)">Plastic</a></li>
          </ul>
        </article>
        <article id="formSection" [ngClass]="{'electricityReport':(utilitySelected=='Electricity'),'waterReport':(utilitySelected=='Water'),'gasReport':(utilitySelected=='Gas'),'plasticReport':(utilitySelected=='Plastic')}">
          <fieldset>
            <label><span class="text-form">Select Year</span></label>
            <br><br>
            <p-calendar name="year" [maxDate]="today" (onSelect)="getReportData()" dateFormat="yy" [(ngModel)]="dateValue" view="year" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
          </fieldset>
          <div id="container" class="recycleChart"></div> 
        </article>       
      </div>
    </div>
  </div>
</section>
