<section id="content">
  <div class="main">
    <div class="container_12">
      <div class="wrapper">
        <div class="row plasticBackground">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="plasticBgrnd">
            </div>
          </div>
        </div>  
        <div class="row mainContentTop">
          <div class="col-md-12 col-sm-12 col-lg-12">
            <article id="formSection" class="col-md-6 col-sm-6 col-lg-6 plasticPadding inputData">
              <div>
                <h1>
                  Enter Your Recycling Data
                </h1>
              </div>  
              <div class="formContainer">
                <div>
                    <label><span class="text-form-plastic">Have you collaborated with a plastic recycling agency?</span></label> 
                    <br>
                    <p-dropdown [options]="yesNoList" [(ngModel)]="recycleData.isCollaborating" (onChange)="collabChange()" placeholder="Choose One" [style]="{'width':'285px','padding':'5px'}"></p-dropdown>
                </div>
                 <div>
                    <label class="normal"><span class="text-form-plastic">Select Agency</span></label>
                    <br>
                    <p-dropdown [disabled]="!isCollaborating" [options]="agencyList" [(ngModel)]="recycleData.collaboratingAgency" placeholder="Choose One" [style]="{'width':'285px','padding':'5px'}"></p-dropdown>
                 </div> 
                 <div>
                  <label class="normal"><span class="text-form-plastic">Select Date</span></label>
                    <br>
                    <p-calendar name="month" [(ngModel)]="dateValue" (onSelect)="getUsageData()" [style]="{'width':'285px','padding':'5px'}" dateFormat="MM yy" view="month" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
                 </div> 
                 <div>
                  <label class="normal"><span class="text-form-plastic">Plastic Recycled (Kgs)</span></label>
                    <br>
                    <input type="text" class="text" [(ngModel)]="usageText" class="recycleInputBox">
                 </div>   
                 <div>
                  <a class="button buttonNew buttonStyle save" (click)="save()">Save</a>
                 </div>            
              </div>              
            </article> 
            <article id="formSection" class="col-md-6 col-sm-6 col-lg-6 plasticPadding plasticChartContainer">
              <div id="container"></div> 
              <h1>
                No Plastic Consumption/Recycling Data Available.
              </h1>
            </article>
          </div>
        </div>
      </div>    
    </div>
  </div>
</section>       
<p-dialog header="Save Successful!" id="modal" [(visible)]="showSaveDialog" [closable]="true" modal="modal" width="400" height="180" [responsive]="true">
  <h4 class="modalText">  Data saved successfully!</h4>
  <br>
  <a class="button buttonStyle" (click)="closeSaveDialog()">Close</a>
</p-dialog>
