.plasticBgrnd {
    background: url(../../assets/images/plastic3-removebg-preview.png) white no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    margin-top: 45px;
    border-radius: 15px;
    box-shadow: 1px 2px 10px 10px black;
}

.text-form-plastic {
    float: left;
    display: block;
    font-size: 13px;
    line-height: 22px;
    width: 100%;
    color: #030303;
    font-family: Arial, Helvetica, sans-serif;
}
.buttonNew {
    display: block;
    padding: 9px 28px 2px 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
    width: 75px;
    height: 40px;
    margin-top: 50px;
}
input[type="text"] {
    font-size: 14px !important;
    border-radius: 10px;
    float: left;
    width: 285px;
    font-size: 14px;
    line-height: 1.25em;
    color: #030303;
    padding: 8px 10px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #ebebeb;
    background: #fff;
    outline: none;
}

.plasticPadding {
    margin-top:10px;
    background:white;
    border-radius: 5px;
    border:none;
    height:500px;
    box-shadow: 3px 0px 10px 2px lightgrey;
}
#content {
    background: #f3f3f3;
    padding-top:5px !important;
}
#contact-form input {
    font-size: 14px !important;
    border-radius: 10px;
}
body .ui-inputtext {
    font-size:14px !important;
}
.normal {
    padding-top:10px;
}
.plasticBackground {
    background: white;
}
.mainContentTop {
    margin-top:30px;
}
.inputData {
    margin-left:-10px;
}
.inputData h1 {
    font-size:34px;
    padding-top:10px;
    padding-bottom: 15px;
}
.formContainer {
    margin-left:15px;
}
.recycleInputBox {
    width:285px;
    padding:5px;
    height:40px;
    border-radius:5px
}
.plasticChartContainer {
    margin-left:10px;
}
.plasticChartContainer div {
    width:100%; 
    height:400px;
    margin-top:25px
}
.plasticChartContainer h1 {
    font-size:34px;
    padding-top:10px;
    padding-bottom: 15px;
    margin-top:-400px
}
span .fa {
    margin-top: 13px !important;
    font-size: 16px !important;
    margin-left: -4px !important;
}
:host >>> .fa {
        margin-top: 13px !important;
        font-size: 16px !important;
        margin-left: -4px !important;
}