.headerHeight {
    height:180px;
}
.appSecHeader {
    color:#808080;
    padding:0px;
    font-size:24px !important;
}
.tableSection {
    margin:50px 30px 30px 80px;
    width:85%;
    text-align:center;
}
.row-bot-bg {
    background:#f3f3f3;
    padding-top:90px;
    padding-bottom: 30px;
}
th, td {
    padding:30px !important;
    text-align:left;
}
th {
    text-align:left;
}
.save {
    text-align: right;
    margin-right: 120px;
}
.saveButton {
    background: lightgrey;
    border-radius: 5px;
    border-color: lightgray;
    color: black;
    font-weight: bold;
}
.buttonStyle2 {
    padding: 2px 2px 2px 2px !important;
    color: white !important;
    border: none;
    margin-left: -15px;
}
.buttonStyle {
    padding: 9px 28px 9px 28px !important;
    color: white !important;
    border: none;
}
.reject {
    background: red !important;
    margin-left:15px;
}