<div class="row-bot">
  <div class="row-bot-bg reduceImageHeight">
    <div class="main">
      <div class="wrapper p6">
        <h1 class="appHeader">
          Enter Your Consumption Data
        </h1>
      </div>
    </div>
  </div>
</div>
<section id="content">
  <div class="main">
    <div class="container_12">
      <div class="wrapper">
        <article class="grid_2">
          <h3>Utilities</h3>
          <ul class="list-1">
            <li><a id="electricity" class="active" (click)="utilityChosen('Electricity',1)">Electricity</a></li>
            <li><a id="gas" (click)="utilityChosen('Gas',2)">Gas</a></li>
            <li><a id="water" (click)="utilityChosen('Water',4)">Water</a></li>
            <li><a id="plastic" (click)="utilityChosen('Plastic',3)">Plastic</a></li>
          </ul>
        </article>
        <article id="formSection" [ngClass]="{'electricity':(utilitySelected=='Electricity'),'water':(utilitySelected=='Water'),'gas':(utilitySelected=='Gas'),'plastic':(utilitySelected=='Plastic')}">
          <form id="contact-form" action="#" method="post" enctype="multipart/form-data">
            <h3 class="whiteHeader">{{utilitySelected}} Consumption</h3>
            <fieldset>
              <label><span class="text-form">Select Date</span></label>
              <p-calendar name="month" [maxDate]="today" (onSelect)="getUsageData()" dateFormat="MM yy" [(ngModel)]="dateValue" view="month" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
              <label><span class="text-form">Usage <span *ngIf="utilitySelected=='Electricity' || utilitySelected=='Gas'">(Kwh)</span><span *ngIf="utilitySelected=='Water'">(Gallons)</span><span *ngIf="utilitySelected=='Plastic'">(Kgs)</span></span></label>
              <input type="text" name="usageText" [(ngModel)]="usageText">
              <br> 
              <div *ngIf="((utilitySelected=='Electricity' || utilitySelected=='Gas') && emissionFactorsAvailable)">
                 <label><span class="text-form">Emission Factor</span></label>
                 <input type="text" name="emissionFactor" [(ngModel)]="emissionFactors.EmissionFactorVal" disabled>
              </div> 
              <br>  
              <div *ngIf="utilitySelected == 'Plastic'" class="plasticNoticeWidth">
                <span class="recycleNotice"> 
                  We strongly urge you to commit yourselves                    
                  to ensure that 100% of your plastic consumption is recycled and can be fully reusable
                  in the coming future. Visit 'Plastic Recycling' to get started.
                </span>
              </div>           
            </fieldset>
            <a class="button buttonStyle save" (click)="save()">Save</a>
          </form>
        </article>
      </div>
    </div>
  </div>
</section>
<p-dialog header="Save Successful!" id="modal" [(visible)]="showSaveDialog" [closable]="true" modal="modal" width="400" height="180" [responsive]="true">
  <h4 class="modalText"> Usage data saved successfully!</h4>
  <br>
  <a class="button buttonStyle" (click)="closeSaveDialog()">Close</a>
</p-dialog>