<div class="row-bot">
  <div class="row-bot-bg">
    <div class="main">
      <div>
        <div class="row reduceBotMar">
          <div class="col-sm-6 col-md-6 col-lg-6" *ngIf="isHotelAvailable">
            <h1 class="hotelDetails"><strong>{{hotelData.propertyName}} ({{hotelData.hotelCode}})</strong>, {{hotelData.postalCode}} </h1>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 searchAlign">
            <input type="text" class="search" placeholder="Search Hotel in case of multiple properties...">
          </div>
        </div>
      </div>
      <div class="wrapper p6 reduceBotMar">
        <h1 class="appHeader">Eco Amica</h1>
        <h2 class="appSecHeader">Help save the environment with us!</h2>
      </div>
      <div class="homeImageAlignment">
        <div id="sliderHome">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <h1 class="appHeader carouselHeader carbonChartHeader">Your Carbon Performance</h1>
          <br><br>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="chartContainer">
            <h1 *ngIf="areaColor == 'green'" class="pos"> You have decreased {{carbonData.variance | number:'1.0-0'}}% of your total carbon consumption since last year! Keep going ...</h1>
            <h1 *ngIf="areaColor == 'crimson'" class="neg"> You have increased {{carbonData.variance | number:'1.0-0'}}% of your total carbon consumption since last year! You can do better ...</h1>
            <div id="container" class="chartInnerContainer"></div> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <h1 class="appHeader carouselHeader rankingHeader">Your Carbon Ranking & AI Based Recommendations</h1>
          <br><br>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="chartContainer">
             <h1 class="pos recHeader"> Click <span class="link" (click)="showTopTips()">here</span> to check out our AI based recommendations! </h1>
             <div id="container3" class="chartInnerContainer"></div> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <h1 class="appHeader carouselHeader plasticHeader">Your Plastic Performance</h1>
          <br><br>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="chartContainer2">
            <h1 *ngIf="areaColorPlastic == 'green'" class="pos"> You have decreased {{carbonData.plasticVariance | number:'1.0-0'}}% of your total plastic consumption since last year! Keep going ...</h1>
            <h1 *ngIf="areaColorPlastic == 'crimson'" class="neg"> You have increased {{carbonData.plasticVariance | number:'1.0-0'}}% of your total plastic consumption since last year! You can do better ...</h1>
            <div id="container2" class="chartInnerContainer"></div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-dialog header="AI Recommendations To Further Improve Your Carbon Footprint" id="modal" [(visible)]="viewModal" [closable]="true" modal="modal" width="1030" height="auto" [responsive]="true">
  <div>
    <div>
     <table class="table table-striped">
       <thead>
         <tr>
           <th>Action Title</th>
           <th>Action Description</th>
           <th>Implemented By</th>
         </tr>
       </thead>
       <tbody *ngFor="let tip of tips">
         <tr>
           <td>{{tip.tipTitle}}</td>
           <td>{{tip.tipDescription}}</td>
           <td>{{tip.implementedBy}}</td>
         </tr>
       </tbody>
     </table>    
    </div>
    <a class="button buttonStyle" (click)="hideTopTips()">Close</a>
 </div>
</p-dialog>