.appHeader {
    font-size: 40px;
    line-height: 1.2em;
    color: #808080;
    padding: 10px 30px 0 150px;
    overflow: hidden;
    padding-right: 30px;
    margin-top:-5px;
    margin-left:85px;
}
.appSecHeader {
    margin-top:5px !important;
    color: #808080 !important;
}
.row-bot-bg {
  background: #f3f3f3 !important;
  padding-top:60px;
}
.main {
  padding-top:30px !important;
}
.reduceBotMar {
    margin-bottom:10px !important;
}
.homeImageAlignment {
    margin-left: 150px;
}
.homeImageAlignment img {
    border-radius:30px;
}
.slides {
    height:400px;
    width:900px;
}
#sliderHome {
    background-size: cover;
    height: 350px;
    width: 900px;
    border-radius: 30px;
    box-shadow: 1px 10px 20px black;
    animation-name: background;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes background {
    0% {
      background-image: url(../../assets/images/green-ux-sustainable-ui-design.png);
    }
    10% {
      background-image: url(../../assets/images/green-ux-sustainable-ui-design.png);
    }
    50% {
      background-image: url(../../assets/images/home2.png);
    }
    100% {
      background-image: url(../../assets/images/home3.png);
    }
}  
.carouselHeader {
  font-size: 34px;
  margin-left: 240px;
  padding: 10px 0px 20px 0px;
} 
.list {
  padding-top: 56px;
    width: 100%;
    padding-left: 75px;
    padding-right: 75px;
    background: white;
    box-shadow: 1px 3px 10px black;
    height: auto;
    padding-bottom: 50px;
    border-radius: 30px;
}
.heading {
  font-weight: bold;
  margin-left:10px;
  font-size:26px !important;
}
.description {
  font-size:22px !important;
  margin-left:22px;
}
.carouselFooter {
  text-align: right;
  font-style: italic;
  font-weight: bolder;
}
.searchAlign {
  text-align: right;
}
.chartContainer {
  height: 440px;
    width: 77%;
    margin-left: 150px;
    background: white;
    border-radius: 25px;
    border: none;
    box-shadow: 1px 3px 10px black;
}
.chartContainer2 {
  height: 440px;
    width: 77%;
    margin-left: 150px;
    background: white;
    border-radius: 25px;
    border: none;
    box-shadow: 1px 3px 10px black;
}
.chartHeader {
  margin-left:100px !important;
  font-size: 40px;
}
.pos {
  font-size:24px;
  color:green;
  padding-bottom:20px;
  padding-left:20px;
  margin-left:20px;
  margin-bottom:20px;
  margin-top:-30px;
  font-weight: bold;
}
.neg {
  font-size:24px;
  color:red;
  padding-bottom:20px;
  padding-left:20px;
  margin-left:20px;
  margin-bottom:20px;
  margin-top:-30px;
  font-weight: bold;
}
.intro {
  font-style: italic;
}
.hotelDetails {
  font-size: 24px;
    float: left;
    font-weight: bold;
    margin-top: -50px;
    margin-bottom: 10px;
    margin-right: -40px;
    color: black;
}
.search {
  height: 50px;
    width: 300px;
    padding-left: 30px;
    border: none;
    border-radius: 5px;
    margin-top: -20px;
}
.buttonStyle {
  padding: 9px 28px 9px 28px !important;
  color: white !important;
}
.carbonChartHeader {
   margin-left:430px;
   margin-top:30px
}
.chartInnerContainer {
   width:100%; 
   height:350px;
   margin-top:25px;
   padding-left:50px;
}
.rankingHeader {
   margin-left:230px;
   margin-top:30px
}
.link {
   color:blue;
   text-decoration: underline;
   cursor: pointer;
}
.recHeader {
   color:black;
}
.plasticHeader {
   margin-left:430px;
   margin-top:20px;
}