<div class="row-bot">
  <div class="row-bot-bg reduceImageHeight">
    <div class="main">
      <div class="wrapper p6">
        <h1 class="appHeader">
          <img src="assets/images/goodluck-removebg-preview.png" class="level1Img" *ngIf="!level1Approved">
          <img src="assets/images/bronze_medal-removebg-preview.png" class="level1Img" *ngIf="level1Approved && !level2Approved">
          <img src="assets/images/silver_medal-removebg-preview.png" class="level1Img" *ngIf="level2Approved && !level3Approved">
          <img src="assets/images/gold_medal-removebg-preview.png" class="level1Img" *ngIf="level3Approved">
        </h1>
        <h2 class="appSecHeader" *ngIf="!level1Approved">Get started with your Eco Amica journey!</h2>
        <h2 class="appSecHeader" *ngIf="level1Approved && !level2Approved">Level 1 Eco Amica Certified!</h2>
        <h2 class="appSecHeader" *ngIf="level2Approved && !level3Approved">Level 2 Eco Amica Certified!</h2>
        <h2 class="appSecHeader" *ngIf="level3Approved">Level 3 Eco Amica Certified!</h2>
      </div>
    </div>
  </div>
</div>
<aside class="sectionPadding">
  <div class="carousel">
    <div class="carousel-container">
      <h3>Your Progress</h3>
      <div class="jCarouselLite">
        <ul class="carousel-list">
          <li class="inlineListItems">
            <div class=""> <img src="assets/images/level1.png" class="level1Img" *ngIf="level1Approved"><img src="assets/images/grey_1.png" class="level1Img" *ngIf="!level1Approved"> </div>
            <p class="botMar"> ({{level1Count}}/{{level1TotalActions}} actions completed)</p>
            <p class="botMar disabledLink" *ngIf="!level1Completed">Submit Proofs</p>
            <p class="botMar link" (click)="showModalDialog('Level 1')" *ngIf="level1Completed"> Submit Proofs </p>
          </li>
          <li class="inlineListItems">
            <div class=""> <img src="assets/images/level2.png" class="level1Img" *ngIf="level2Approved"><img src="assets/images/grey_2.png" class="level1Img" *ngIf="!level2Approved"> </div>
            <p class="botMar"> ({{level2Count}}/{{level2TotalActions}} actions completed)</p>
            <p class="botMar disabledLink" *ngIf="((level1Approved && !level2Completed) || (!level1Approved && !level2Completed) || (!level1Approved && level2Completed))"> Submit Proofs </p>
            <p class="botMar link" (click)="showModalDialog('Level 2')" *ngIf="level1Approved && level2Completed"> Submit Proofs </p>
          </li>
          <li class="inlineListItems">
            <div class=""> <img src="assets/images/level3.png" class="level1Img" *ngIf="level3Approved"><img src="assets/images/grey_3.png" class="level1Img" *ngIf="!level3Approved"> </div>
            <p class="botMar"> ({{level3Count}}/{{level3TotalActions}} actions completed)</p>
            <p class="botMar disabledLink" *ngIf="((level2Approved && !level3Completed) || (!level2Approved && !level3Completed) || (!level2Approved && level3Completed))"> Submit Proofs </p>
            <p class="botMar link" (click)="showModalDialog('Level 3')" *ngIf="level2Approved && level3Completed"> Submit Proofs </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>
<section id="content">
  <div class="main">
    <div class="container_12">
      <div class="wrapper">
        <article class="grid_2">
          <h3 class="p1">Levels</h3>
          <ul class="list-1">
            <li><a id="level1" class="active" (click)="showActionPlans('Level 1')">Level 1</a></li>
            <li><a id="level2" (click)="showActionPlans('Level 2')">Level 2</a></li>
            <li><a id="level3" (click)="showActionPlans('Level 3')">Level 3</a></li>
          </ul>
        </article>
        <article class="grid_10">
          <div class="indent-left">
            <h3 class="p1">Actions</h3>
            <div *ngFor="let action of actions">
              <div *ngIf="levelSelected == action.levelInfo">
                <div class="wrapper border-bot p2"> <span><img class="taskCompleted" src="assets/images/pendingtask.png" *ngIf="action.completed=='N'"><img class="taskCompleted" src="assets/images/taskcompleted.png" *ngIf="action.completed=='Y' || action.isCsutom"></span><strong class="text-2 fleft">{{action.levelType}}</strong>
                  <div class="indent-top fright"> <a class="button" (click)="actionPlanClicked(action.code)"><span>details</span></a> </div>
                </div>
                <div class="actionDetails" *ngIf="display==action.code">
                  <h3 class="p1">To do:</h3>
                  <p class="img-indent-bot"><strong>{{action.description}}</strong></p>
                  <div class="wrapper" *ngIf="!action.isCsutom">
                    <div class="column-1">
                      <ul class="list-1">
                        <li><a href="{{action.igFilePath}}">Steps for Implementation</a></li>
                        <li><a href="{{action.poaFilePath}}">Proof of Action - Template</a></li>
                        <li><a (click)="markComplete(action.levelCode)">Mark as complete</a></li>
                      </ul>  
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <a class="button buttonStyle addButton" (click)="showAddActionDialog()">Add Action</a>
    </div>
  </div>
</section>
<p-dialog header="Upload Proof" id="modal" [(visible)]="displayModal" [closable]="true" modal="modal" width="757" height="450" [responsive]="true">
  <h3> Please submit proofs for below action items: </h3>
  <div class="uploadSection">
    <div *ngFor="let action of actions">
       <div *ngIf="proofLevelSelected == action.levelInfo && !action.isCsutom">
          <input type="checkbox" [disabled]="action.fileUploaded && !action.proofRejected" [checked]="action.fileUploaded && !action.proofRejected" (change)="actionChecked(action.code)"> {{action.levelType}}
          <br>
          <div class="innerUpload" *ngIf="action.proofChecked">
            <p><strong>Upload file</strong></p>
            <input type="file" (change)="fileUpload($event, action)">
          </div>
       </div>
    </div>
    <div class="attachmentSection" *ngIf="showAttachments">
      <div>
        <a class="viewProof" (click)="viewProofs(proofLevelSelected)">View status of uploaded files</a>
      </div>
    </div>
  </div> 
  <a class="button buttonStyle" (click)="closeModalDialog()">Close</a>
</p-dialog>
<p-dialog header="Add Action" id="modal" [(visible)]="addActionDialog" [closable]="true" modal="modal" width="757" height="500" [responsive]="true">
  <h3> Please enter the following details: </h3>
  <article id="formSection">
    <form id="contact-form" action="#" method="post" enctype="multipart/form-data">
      <fieldset>
        <label><span class="text-form">Action Name</span></label>
        <input type="text" name="actionName" [(ngModel)]="levelType" required>
      </fieldset>
      <fieldset>
        <label><span class="text-form">Description</span></label>
        <input type="text" name="description" [(ngModel)]="description" required>
      </fieldset>
      <fieldset>
        <label><span class="text-form">Level</span></label>
        <input type="text" name="level" [(ngModel)]="levelInfo" placeholder="e.g. Level 1" required>
      </fieldset>
    </form>
    <p class="warningNotice"> By submitting these details, you approve us to provide this action item as suggestions to other hotels to implement.</p>
  </article> 
  <div class="topPadding">
    <a class="button buttonStyle save" (click)="save()">Save</a>
    <a class="button buttonStyle" (click)="hideAddActionDialog()">Close</a>
  </div> 
</p-dialog>
<p-dialog header="View Proof" id="modal" [(visible)]="viewProofModal" [closable]="true" modal="modal" width="757" height="430" [responsive]="true">
  <div>
    <h3> Uploaded Proofs </h3>
    <div>
     <table class="table table-striped">
       <thead>
         <tr>
           <th>File Name</th>
           <th>Level</th>
           <th>Level Type</th>
           <th>Status</th>
         </tr>
       </thead>
       <tbody *ngFor="let attachment of attachmentsList">
         <tr>
           <td><a (click)="downloadFile(attachment)">{{attachment.fileName}}</a></td>
           <td>{{attachment.level}}</td>
           <td>{{attachment.levelType}}</td>
           <td>{{attachment.status}}</td>
         </tr>
       </tbody>
     </table>    
    </div>
    <a class="button buttonStyle" (click)="hideProofs()">Close</a>
 </div>
</p-dialog>
<p-dialog header="Action Completed!" id="modal" [(visible)]="actionCompletedDialog" [closable]="true" modal="modal" width="400" height="200" [responsive]="true">
    <h5 *ngIf="!actionCompletedPrev"> This action item has been marked as complete!</h5>
    <h5 *ngIf="actionCompletedPrev"> This item has already been completed. Please proceed with the next action item. </h5>
    <br>
    <a class="button buttonStyle" (click)="closeActionCompleteDialog()">Close</a>
</p-dialog>
<p-dialog header="File Upload Completed!" id="modal" [(visible)]="showFileConfirm" [closable]="true" modal="modal" width="400" height="200" [responsive]="true">
  <h5> File has been uploaded successfully!</h5>
  <br>
  <a class="button buttonStyle" (click)="hideFileConfirmDialog()">Close</a>
</p-dialog>
<p-dialog header="Action Saved!" id="modal" [(visible)]="viewConfirmSaveAction" [closable]="true" modal="modal" width="400" height="200" [responsive]="true">
  <h5> Action Saved Successfully!</h5>
  <br>
  <a class="button buttonStyle" (click)="hideActionSaveConfirmDialog()">Close</a>
</p-dialog>